@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="header jumbotron">
    <h1>About this site</h1>
    <hr />
    <p>Read a little as to what this site is about</p>
</div>

<div class="about-body-text">
    <h1>Pictures</h1>
    <p>This site uses pictures which have a copyright belonging to Mike Daughtrey</p>
</div>

<div class="about-body-text">
    <h1>Function</h1>
    <p>This site was built by Liam, Mike, and Wilhelm using ASP.NET MVC 4 framework during the
    Påbyggandeutbildning from Lexicon in association with Arbesförmedlingen and Student Consulting.</p>
</div>

<div class="about-body-text" style="margin-bottom: 2em;">
    <h1>Design and Layout</h1>
    <p>This site was designed by Mike, Liam, and Wilhelm using bootstrap and custom CSS.
    some design functions are completed using jQuery elements.</p>
</div>
